.linkitem {
    font-size:25px;
/*    color: blue;*/
/*line-height:30px;
    font-size: 50px;
    font-weight:900;
    font-family:Consolas;
    text-align: center;*/
}

.ce {
    text-align: center;
}
